.category{
    width:100%;
    height: 120px;
    margin-top: 70px;
    padding: 0 10%;
}
.cat-box{
    margin-top: 50px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.food{
    width: 22%;
    height: 150px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
}
.food:hover{
    margin-bottom: 10px;
    box-shadow: 20px 20px 50px -20px grey;

}
.food img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.food h3{
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: white;
}

@media screen and (max-width:1250px) {
    .category{
        padding: 0 5%;
    }
    .cat-box{
        justify-content: space-between;
        
    }
}
@media screen and (max-width:1200px) {
    .food{
        width: 23%;
    }
}
@media screen and (max-width:1000px) {
    .food{
        height: 120px ;
    }
}
@media screen and (max-width:900px) {
    .cat-box{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .food{
        width: 32%;
        margin-top: 10px;
        margin-right: 5px;
    }
}

@media screen and (max-width:700px) {
    .food{
        width: 45%;
    }
}
@media screen and (max-width:450px) {
    .food{
        width: 80%;
    }
}